@use "../../styles/partials/variables" as *;

.main-portfolio {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    padding: $mobile-padding;
    font-family: "Scotia-Regular";
    background-color: $lighterGray;

    &__advisor-name {
        font-size: 31px;
        font-family: "Scotia-Bold";
        font-weight: 700;
        color: #282828;
        margin: 24px 0;
    }

    &__advisor-button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__advisor-button {
        border: none;
        background-color: $scotiabankRed;
        border-radius: 10px;
        width: 80%;
        padding: 12px 24px;
        font-family: "Scotia-Bold";
        font-weight: 600;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;

        &--dot {
            width: 15%;
            background-color: $lighterGray;
            border: none;
        }

        &-icon {
            margin-right: 6px;
        }
    }

    &__dot-icon {
        width: 47px;
    }

    &__diagram-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap column;
    }

    &__title {
        margin: 20px 0;
    }

    &__diagram-info-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: $mobile-padding;
        margin-bottom: 12px;
    }

    &__invest-title {
        margin: 0;
        color: $gray;
        font-size: 15px;
        font-weight: 700;
    }

    &__invest-text {
        margin: 0;
        font-size: 23px;
        font-weight: 700;
    }

    &__stock-chart {
        width: 100%;
        background-color: $white;
        border: 2px solid #D9D9D9;
        min-height: 50px;
        margin: 8px 0;
        border-radius: 10px;
    }

    &__stock-graph {
        width: 100%;
        border-radius: 10px;
    }

    &__stock-list-item {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0;
        border-top: 2px solid $scotiabankRed;

        &:first-child {
            border: none;
        }
    }

    &__stock-list-item-icon {
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }


    &__stock-list-item-icon {
        width: 15%;
    }

    &__list-item-container {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-title {
        font-size: 15px;
        font-weight: 700;
    }
    
    &__list-text {
        font-size: 15px;
        font-weight: 400;
    }

    &__overview-diagram {
        width: 100%;
        border-radius: 10px;
    }

    &__overview-button {
        width: 85%;
        border: none;
        background-color: $scotiabankRed;
        border-radius: 10px;
        padding: 12px 24px;
        margin: 24px;
        font-family: "Scotia-Bold";
        font-weight: 600;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

}