
$scotiabankRed: #D81E05;

$darkerGray: #333333;

$darkGray: #555555;

$gray: #777777;

$lightGray: #D0D0D0;

$lighterGray: #f4f4f4;

$white: #ffffff;

$darkRed: #BF1B04;

$blue: #0968EE;

$darkBlue: #074eb2;

$mobile-padding: 16px;